# .NET Core
**/bin/
**/obj/
.vs/
*.user
*.suo

# Rider
.idea/
*.sln.iml

*.hidden

*tmp*
.terraform*


**/appsettings.Development.json
**/appsettings.Production.json

*.tfstate*
envs/
.env.dev
.env.prod
.env
**/wwwroot/appsettings.json
